@import "tailwindcss";
@tailwind base;
@tailwind components;
@tailwind utilities;

body, html, #root {
  margin: 0;
  padding: 0;
  height: 100%;
}

input {
  padding: 7px 10px;
  border-radius: 5px;
  border: 1px solid #d1d1d1;
  transition: all .2s;
}
input:focus {
  box-shadow: rgba(0, 72, 255, 0.4) 0 0 20px 0;
  border-color: #0048ff;
  outline: none;
}
button, .button {
  text-align: center;
  color: white;
  background-color: #0080ff;
  padding: 7px 10px;
  cursor: pointer;
  border-radius: 5px;
  transition: background-color .2s;
}
button:hover, .button:hover {
  background-color: #0048ff;
}
button:active, .button:active {
  background-color: #0048ff;
}
