@import "tailwindcss";
@tailwind utilities;

body, html, #root {
  margin: 0;
  padding: 0;
  height: 100%;
}

input {
  padding: 7px 10px;
  border-radius: 5px;
  border: 1px solid #d1d1d1;
  transition: all .2s;
}
input:focus {
  @apply border-blue-700;
  outline: none;
}
.primary {
  text-align: center;
  color: white;
  @apply bg-blue-600;
  transition: all .5s;
  padding: 7px 10px;
  cursor: pointer;
  border-radius: 5px;
}
.primary:not(:disabled):hover {
  @apply bg-blue-700;
}
.primary:not(:disabled):active {
  @apply bg-blue-800;
}
button {
  padding: 5px;
  transition: all .5s;
  cursor: pointer;
  @apply rounded-md;
}
button:disabled {
  cursor: default;
  opacity: .5;
}
button:not(:disabled):hover {
  @apply bg-gray-200;
}
button:not(:disabled):active {
  @apply bg-gray-300;
}

.toggle {
  @apply px-2 py-1.5 rounded-md
}
.toggle.toggled {
  @apply bg-blue-200 text-blue-600 
}
.toggle.toggled:hover {
  @apply bg-blue-300
}
.item {
  transition: all .3s;
}
.item:hover {
  filter: brightness(80%);
}
.item:active {
  filter: brightness(60%);
}