@import "tailwindcss";
@tailwind base;
@tailwind components;
@tailwind utilities;

body, html, #root {
  margin: 0;
  padding: 0;
  height: 100%;
}

input {
  padding: 7px 10px;
  border-radius: 5px;
  border: 1px solid #d1d1d1;
  transition: all .2s;
}
input:focus {
  box-shadow: rgba(0, 72, 255, 0.4) 0 0 20px 0;
  border-color: #0048ff;
  outline: none;
}
.primary {
  text-align: center;
  color: white;
  @apply bg-blue-600;
  padding: 7px 10px;
  cursor: pointer;
  border-radius: 5px;
}
.primary:not(:disabled):hover {
  @apply bg-blue-700;
}
.primary:not(:disabled):active {
  @apply bg-blue-800;
}
button {
  padding: 5px;
  transition: all .5s;
  cursor: pointer;
  @apply rounded-md;
}
button:disabled {
  cursor: default;
  opacity: .5;
}
button:not(:disabled):hover {
  @apply bg-gray-200;
}
button:not(:disabled):active {
  @apply bg-gray-300;
}